# for eclipse
.settings
.project

# for idea
*.iml

target
.DS_Store
.gitattributes
logs
.idea
*.log
.gradle

built
node_modules

src/utils/request-temp.js
npm-debug.log*
coverage
/.idea/
/xijing-admin/build/
/xijing-common/build/
/xijing-service/build/
/xijing-web/build/
/xijing-common/out/
/xijing-service/out/
/xijing-admin/out/
/xijing-web/out/
/xijing.ipr
/xijing.iws
/build/
/out/
/logs/

.classpath
*/bin/